In [51]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Read the data
X_full = pd.read_csv('./housing_train.csv', index_col='Id')
X_test_full = pd.read_csv('./housing_test.csv', index_col='Id')

      MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
Id
1             60       RL         65.0     8450   Pave   NaN      Reg
2             20       RL         80.0     9600   Pave   NaN      Reg
3             60       RL         68.0    11250   Pave   NaN      IR1
4             70       RL         60.0     9550   Pave   NaN      IR1
5             60       RL         84.0    14260   Pave   NaN      IR1
...          ...      ...          ...      ...    ...   ...      ...
1456          60       RL         62.0     7917   Pave   NaN      Reg
1457          20       RL         85.0    13175   Pave   NaN      Reg
1458          70       RL         66.0     9042   Pave   NaN      Reg
1459          20       RL         68.0     9717   Pave   NaN      Reg
1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities LotConfig  ... PoolArea PoolQC  Fence MiscFeature  \
Id                                    ...
1            Lvl    AllPub    Inside  ...        0    NaN    NaN         NaN
2            Lvl    AllPub       FR2  ...        0    NaN    NaN         NaN
3            Lvl    AllPub    Inside  ...        0    NaN    NaN         NaN
4            Lvl    AllPub    Corner  ...        0    NaN    NaN         NaN
5            Lvl    AllPub       FR2  ...        0    NaN    NaN         NaN
...          ...       ...       ...  ...      ...    ...    ...         ...
1456         Lvl    AllPub    Inside  ...        0    NaN    NaN         NaN
1457         Lvl    AllPub    Inside  ...        0    NaN  MnPrv         NaN
1458         Lvl    AllPub    Inside  ...        0    NaN  GdPrv        Shed
1459         Lvl    AllPub    Inside  ...        0    NaN    NaN         NaN
1460         Lvl    AllPub    Inside  ...        0    NaN    NaN         NaN

     MiscVal MoSold  YrSold  SaleType  SaleCondition  SalePrice
Id
1          0      2    2008        WD         Normal     208500
2          0      5    2007        WD         Normal     181500
3          0      9    2008        WD         Normal     223500
4          0      2    2006        WD        Abnorml     140000
5          0     12    2008        WD         Normal     250000
...      ...    ...     ...       ...            ...        ...
1456       0      8    2007        WD         Normal     175000
1457       0      2    2010        WD         Normal     210000
1458    2500      5    2010        WD         Normal     266500
1459       0      4    2010        WD         Normal     142125
1460       0      6    2008        WD         Normal     147500

[1460 rows x 80 columns]

In [4]:
X_full.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [52]:
# Remove rows with missing target, seprate target from predictions
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things Simple we will take only numerical predictors
X= X_full.select_dtypes(exclude=['object'])
X_test= X_test_full.select_dtypes(exclude=['object'])

# bresk off validation set from training data
X_train, X_valid, y_train, y_valid= train_test_split(X,y,train_size=0.8,random_state=0)

In [38]:
X_valid.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
530,20,NaN,32668,6,3,1957,1975,NaN,1219,0,...,484,0,0,200,0,0,0,0,3,2007
492,50,79.0,9490,6,7,1941,1950,0.0,403,165,...,240,0,0,32,0,0,0,0,8,2006
460,50,NaN,7015,5,4,1950,1950,161.0,185,0,...,352,0,0,248,0,0,0,0,7,2009
280,60,83.0,10005,7,5,1977,1977,299.0,392,0,...,505,288,117,0,0,0,0,0,3,2008
656,160,21.0,1680,6,5,1971,1971,381.0,0,0,...,264,0,0,0,0,0,0,0,3,2010

In [50]:
# shape of training data 
print(X_train.shape)

# Number of missing values in each column of dataset
missing_val_count_by_column=(X_train.isnull().sum())
print(missing_val_count_by_column)

missing_val_count_by_column=(X_valid.isnull().sum())
print(missing_val_count_by_column)

(1168, 36)
MSSubClass         0
LotFrontage      212
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         6
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       58
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64
MSSubClass        0
LotFrontage      47
LotArea           0
OverallQual       0
OverallCond       0
YearBuilt         0
YearRemodAdd      0
MasVnrArea        2
BsmtFinSF1        0
BsmtFinSF2        0
BsmtUnfSF         0
TotalBsmtSF       0
1stFlrSF          0
2ndFlrSF          0
LowQualFinSF      0
GrLivArea         0
BsmtFullBath      0
BsmtHalfBath      0
FullBath          0
HalfBath          0
BedroomAbvGr      0
KitchenAbvGr      0
TotRmsAbvGrd      0
Fireplaces        0
GarageYrBlt      23
GarageCars        0
GarageArea        0
WoodDeckSF        0
OpenPorchSF       0
EnclosedPorch     0
3SsnPorch         0
ScreenPorch       0
PoolArea          0
MiscVal           0
MoSold            0
YrSold            0
dtype: int64

In [43]:
# first method of removing null values 
# remove the columns

X_train.drop(['GarageYrBlt'], axis=1, inplace=True)
X_train.drop(['MasVnrArea'], axis=1, inplace=True)
X_train.drop(['LotFrontage'], axis=1, inplace=True)

X_valid.drop(['GarageYrBlt'], axis=1, inplace=True)
X_valid.drop(['MasVnrArea'], axis=1, inplace=True)
X_valid.drop(['LotFrontage'], axis=1, inplace=True)

missing_val_count_by_column=(X_valid.isnull().sum())
print(missing_val_count_by_column)

MSSubClass       0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
dtype: int64

In [72]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def score_dataset(X_train,X_valid,y_train,y_valid):
    model= RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train,y_train)
    pred= model.predict(X_valid)
    return mean_absolute_error(y_valid,pred)

In [47]:
mae= score_dataset(X_train,X_valid,y_train,y_valid)
print(mae)

17837.82570776256

In [73]:
# method 2 imputation

from sklearn.impute import SimpleImputer

my_imputer= SimpleImputer()
imputed_X_train= pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid= pd.DataFrame(my_imputer.transform(X_valid))


# Imputation removed column names; put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns


print(score_dataset(imputed_X_train,imputed_X_valid,y_train,y_valid))

18062.894611872147

In [68]:
# extention of imputation 
# method 3
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

# Make new columns indicating what will be imputed
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]
for col in cols_with_missing:
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col + '_was_missing'] = X_valid_plus[col].isnull()

# Imputation
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))

# Imputation removed column names; put them back
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

print("MAE from Approach 3 (An Extension to Imputation):")
print(score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid))

MAE from Approach 3 (An Extension to Imputation):
18148.417180365297