In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

X_full= pd.read_csv('./housing_train.csv', index_col='Id')
X_test_full= pd.read_csv('./housing_test.csv',index_col='Id')

In [2]:
print(X_full.head())

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [6]:
y= X_full.SalePrice
print(y)
features= ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X= X_full[features].copy()
X_test= X_test_full[features].copy()

X_train, X_valid, y_train, y_valid= train_test_split(X,y,train_size=0.8, test_size=0.2)

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [7]:
X_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1012,9825,1965,1664,0,2,4,8
1235,8525,1911,1024,940,1,4,7
112,7750,2000,774,656,2,3,7
1266,3735,1999,713,739,2,3,6
610,7943,1961,1029,0,1,3,5

In [9]:
from sklearn.ensemble import RandomForestRegressor


model_1= RandomForestRegressor(n_estimators=50, random_state=0)
model_2= RandomForestRegressor(n_estimators=100, random_state=0)
model_3= RandomForestRegressor(n_estimators=100, criterion='absolute_error', random_state=0)
model_4= RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5= RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models= [model_1,model_2,model_3,model_4,model_5]

In [12]:
from sklearn.metrics import mean_absolute_error

def score_model(model, X_t= X_train, X_v=X_valid, y_t= y_train, y_v=y_valid):
    model.fit(X_t,y_t)
    preds= model.predict(X_v)
    return mean_absolute_error(y_v, preds)
for i in range(len(models)):
    mae= score_model(models[i])
    print('Model %d MAE: %d' % (i+1, mae))

Model 1 MAE: 24083
Model 2 MAE: 23887
Model 3 MAE: 23791
Model 4 MAE: 24253
Model 5 MAE: 24565

In [14]:
my_model = RandomForestRegressor(n_estimators=100,random_state=0)
# Fit the model to the training data
my_model.fit(X, y)

# Generate test predictions
preds_test = my_model.predict(X_test)

# Save predictions in format used for competition scoring
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)